html {
  box-sizing: border-box;
  list-style-type: none;

}

.loading-div {
  display: none;
}

form,
main {
  padding-left: 250px;
}


.sidenav {
  width: 250px;
}


.side-title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.gif-content {
  display: inline-block;
}

.gif-item {
    float: left;
    padding: 10px;
    margin: 10px;
}

.gif-image {
  cursor: pointer;
}

.rating {
  text-align: center;
}

::placeholder {
  color: rgb(224, 224, 224);
}

.submit-btn {
  width: 100%;
  font-size: 18px;
  height: 32px;
}

.container {
  width: 100%;
}

.add-button {
  cursor: pointer;
}